<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Wystąpiły błędy:</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :hasło %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :potwierdź_hasło %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="button"><%= f.submit :Zarejestruj %></p>
<% end %>