<h1>Listing chat_entries</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chat_entries.each do |chat_entry| %>
  <tr>
    <td><%= chat_entry.content %></td>
    <td><%= chat_entry.date %></td>
    <td><%= link_to 'Show', chat_entry %></td>
    <td><%= link_to 'Edit', edit_chat_entry_path(chat_entry) %></td>
    <td><%= link_to 'Destroy', chat_entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chat entry', new_chat_entry_path %>
