
<div id="content">
	<h2>Trwające relacje</h2>

	<% @reports.each do |report| %>		
		<div class="item">
			<h3><%= report.title %></h3>
			<p><%= report.description %></p>
			<p class="item-time"></p>
			<%= link_to 'Zobacz', report, {:class=>'link-more'} %>
		</div>
	<% end %>
</div>

<div id="sidebar">
	<h2>Witaj!</h2>
	<p>Witaj w portalu relacji Live!</p>
	
	<% if current_user %>
	
	<% else %>
		<%= link_to "Zarejestruj się", sign_up_path, {:class=>"link-more"} %><br /><br />
		<%= link_to "Zaloguj się", log_in_path, {:class=>"link-more"} %>
	<% end %>
</div>
